<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>로그인 및 회원가입</title>

    <!-- ✅아이콘 무료 사이트-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ✅정적 파일 사용을 위해 static 태그 로드 -->
    {% load static %}
    <!-- ✅css 파일 연결 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'home/css/login_style.css' %}"
    />
    <!-- ✅제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- ✅ container start -->
      <!-- ✅ 로그인 -->
      <div class="form-box login">
        <form action="">
          <h1>Login</h1>
          <div class="input-box">
            <input type="text" placeholder="Username" required />
            <i class="bx bxs-user"></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Password" required />
            <i class="bx bxs-lock-alt"></i>
          </div>
          <div class="forgot-link">
            <a href="#">Forgot Password?</a>
          </div>
          <button
            type="submit"
            class="btn"
            onclick="window.location.href='/dashboard/'"
          >
            Login
          </button>
        </form>
      </div>
      <!-- ✅ 회원가입 -->
      <div class="form-box register">
        <form action="">
          <h1>Registration</h1>
          <div class="input-box">
            <input type="text" placeholder="Username" required />
            <i class="bx bxs-user"></i>
          </div>
          <div class="input-box">
            <input type="email" placeholder="Email" required />
            <i class="bx bxs-envelope"></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Password" required />
            <i class="bx bxs-lock-alt"></i>
          </div>
          <button type="submit" class="btn">Register</button>
        </form>
      </div>
      <!-- ✅ 토글상자 -->
      <div class="toggle-box">
        <div class="toggle-panel toggle-left">
          <h1>Hello, Welcome!</h1>
          <p>Don't have an account?</p>
          <button class="btn register-btn">Register</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Welcome, Back!</h1>
          <p>Already have an account?</p>
          <button class="btn login-btn">Login</button>
        </div>
      </div>
    </div>
    <!-- ✅ container end -->

    <!-- ✅ end line -->

    <!-- ✅ script.js 파일 연결 -->
    <script src="{% static 'home/js/login_script.js' %}"></script>
  </body>
</html>
