# Environment variables
.env
.env.local

# Python cache
config/__pycache__/
home/__pycache__/
**/__pycache__/

# Django settings (if containing secrets)
config/settings.py

# Virtual environments
.venv/
.venv310/
venv310/

# Database
db/target

# Rasa
.rasa/

# User uploads
user_uploads/

# Test files
test_*.py
test*

# IDE
*.idea

# Logs
*.log

# Media
media/transcripts/

# Markdown (temporary - remove if needed)
*.md

#Docs
/docs

.*