<div class="stepper-wrapper">
    <div class="stepper-item" data-step="1">
        <div class="step-counter">1</div>
        <div class="step-name">계정 정보</div>
    </div>
    <div class="stepper-item" data-step="2">
        <div class="step-counter">2</div>
        <div class="step-name">파일 업로드</div>
    </div>
    <div class="stepper-item" data-step="3">
        <div class="step-counter">3</div>
        <div class="step-name">학사 정보 확인</div>
    </div>
    <div class="stepper-item" data-step="4">
        <div class="step-counter">4</div>
        <div class="step-name">이수 내역 정보 확인</div>
    </div>
    <div class="stepper-item" data-step="5">
        <div class="step-counter">5</div>
        <div class="step-name">졸업 요건 확인</div>
    </div>
</div>