{% load static %}

<div id="category-dropdowns" class="d-flex flex-row align-items-baseline gap-3 mb-2">

    <div class="d-flex flex-column">
        <label for="category_root" class="form-label fw-bold">교과목 분류</label>
        <select id="category_root" class="form-select">
            <option value="">-- 대분류 --</option>
        </select>
    </div>

    <div id="child-container" class="d-flex flex-column" style="display:none;">
        <label id="label_child" for="category_child" class="form-label fw-bold">중분류</label>
        <select id="category_child" class="form-select" >
            <option value="">-- 선택 --</option>
        </select>
    </div>

    <div id="grandchild-container" class="d-flex flex-column" style="display:none;">
        <label id="label_grandchild" for="category_grandchild" class="form-label fw-bold">소분류</label>
        <select id="category_grandchild" class="form-select" >
            <option value="">-- 선택 --</option>
        </select>
    </div>
</div>

{{ categories|json_script:"categories-data" }}