<div class="row g-3 mb-2">
  <div class="col-md-6">
    <label for="college" class="form-label fw-bold">단과대학</label>
    <select id="college" name="college_name" class="form-select">
      <option value="">-- 선택 --</option>
    </select>
  </div>
  <div class="col-lg-6">
    <label for="dept" class="form-label fw-bold">학과(부)</label>
    <select id="dept" name="dept_name" class="form-select" disabled>
      <option value="">-- 선택 --</option>
    </select>
  </div>
</div>

{# context 에서 넘어온 리스트들을 JSON으로 #}
{{ colleges    | json_script:"colleges-data"    }}
{{ departments | json_script:"departments-data" }}
{{ majors      | json_script:"majors-data"      }}